/*
    Name: Tabitha Love
    Assignment: Exam 3 - Live Bait Website
    Date: Nov 2024
*/

/* General */
* {
    box-sizing: border-box;
  }
body {
    font-family: 'Quicksand', Verdana, Tahoma;
    margin: 0;
    background-color:rgba(236, 228, 212, 0.9);
}
ul li, a {
    text-decoration: none;
    list-style-type: none;
}
ul li {
    margin-bottom: 2rem;
    font-size: 16pt;
}
.container {
    display: flex;
    flex-flow: row nowrap;
    overflow: visible;
    width: 100%;
    box-sizing: border-box;
    min-height: auto;
}
.right-section {
    height: 90vh;
    margin-bottom: 8vh;
}
.column-container-grandparent {
    display: flex;
    flex-flow: column wrap;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 70%;
    box-sizing: border-box;
}
h2 {
    font-size: 26pt;
}
h4 {
    font-size: 20pt;
}
h2, h4 {
    font-family: "Rubik Dirt", Verdana, system-ui;
    font-style: normal;
    font-weight: 100;
    text-shadow: 0px 0px 10px rgb(85, 210, 255);
    margin-bottom: 12px;
}
p {
    margin-top: 0;
    font-size: 18px;
}
img {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .8);
}

/* Header */
header {
    background-image: url("storefront.png"), radial-gradient(transparent, rgb(161, 0, 0));
        background-size: cover;
        background-blend-mode: multiply;
        background-color: rgb(85, 210, 255);
        background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
    text-align: center;
}
#logo {
    vertical-align: center;
    width: 60%;
    box-shadow: none;
}

/* Section 2 */
#section-2 {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-image: url("images/wood.jpeg");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-parent h2, h4 {
    width: 80%;
    margin-left: 3vw;
    text-shadow: 0px 0px 8px white;
}
.welcome-parent p {
    color:rgb(0, 0, 0);
    font-weight: 600;
    margin-left: 3vw;
    text-shadow: 0px 1px 8px white;
}
.widget-parent {
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    padding: 3vh 3vw 3vh 3vw;
    width: 20%;
    justify-content: center;
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
}
.widget-parent a {
    padding: 0 1vw;
    font-size: 20pt;
    color: black;
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    width: 25%;
    float: left;
    height: 100vh;

}
nav ul {
    background-color: rgb(115, 198, 228);
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
nav ul li {
    padding: 4vh 2vw 4vh 2vw;
}
nav ul li:hover {
    background-color: rgb(62, 163, 200);
}
#top-of-nav {
    margin-top: 15vh;
}


/* Contact */
.list-parent {
    display: flex;
    flex-flow: row nowrap;
}
#contact-anchor {
    background-image: url("logo2.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

/* Store */
.list-child {
    margin-right: 1vw;
}
#store-flex {
    box-sizing: border-box;
}

/* Bait */
#bait-anchor {
    height: auto;
}
section>h4 {
    font-size: 24pt;
}
.bait-grandparent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}
.bait-grandparent section>h4 {
    text-align: center;
}
.bait-parent {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 20px;
}
.bait-child {
    margin: 0 10px;
}
#notice {
    text-align: center;
    color:rgb(152, 0, 0);
}
/* Photo */
#photo-anchor {
    box-sizing: border-box;
}
#photo-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    box-sizing: inherit;
}
#photo-parent img {
    max-height: 300px;
    margin: 0px 8px 16px 8px;
}

footer {
    background-image: url("images/wood.jpeg");
    text-align: center;
    color:rgb(62, 163, 200);
    position: fixed;
    height: 20vh;
}